@charset "utf-8";

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}
nav ul {
    list-style: none;
}							

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
object,
embed {
	max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
	overflow-y: scroll;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {}
input[type="checkbox"] {
	*vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}
select, input, textarea {
	font: 99% sans-serif;
}
table {
	font-size: inherit;
	font: 100%;
}
 
/* Accessible focus treatment */
a:hover, a:active {
	outline: none;
}
small {
	font-size: 85%;
}
strong, th {
	font-weight: bold;
}
td, td img {
	vertical-align: top;
} 

/* Make sure sup and sub don't screw with your line-heights */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {
	cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
	margin: 0;
}

/* make buttons play nice in IE */
button {
	width: auto;
	overflow: visible;
}
 
/* scale images in IE7 more attractively */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}  
.clearfix:after {
	clear: both;
}  
.clearfix {
	zoom: 1;
}  



/* 
-------------------------------------------------------------------------------*/

body, select, input, textarea {
	color: #333;
}

a {
	color: #03f;
}
a:hover {
	color: #69f;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{
	background: #fcd700;
	color: #000;
	text-shadow: none;
}
::selection {
	background: #fcd700;
	color: #000;
	text-shadow: none;
} 

/*	j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: rgba(215,215,215,0.50);
} 

ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}



/* Grid Layout css (screen size 960px)
-------------------------------------------------------------------------------*/

#container, .container {
	width: 960px;
	position: relative;
	margin: 0 auto;
}
.full, .half, .threeQuarter, .quarter,.third,.twoThird,.fifth,.twoFifth,.threeFifth,.fourFifth,.sixth,.fiveSixth {
	float: left;
	display: inline;
	margin: 0 10px;
	padding: 0;
}
.full {
	width: 940px;
}
.half {
	width: 460px;
}
.threeQuarter {
	width: 700px;
}
.quarter {
	width: 220px;
}
.third {
	width: 300px;
}
.twoThird {
	width: 620px;
}
.fifth {
	width: 172px;
}
.twoFifth {
	width: 364px;
}
.threeFifth {
	width: 556px;
}
.fourFifth {
	width: 748px;
}
.sixth {
	width: 140px;
}
.fiveSixth {
	width: 780px;
}
.first {
	margin-left: 0;
}
.last {
	margin-right: 0;
}


/*fonts.css*/

body {
	*font-size: small;
	*font: x-small;
	font: 13px/1.231 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS P Gothic', Osaka, Arial, Helvetica, Verdana, sans-serif;
}
	
/* for IE7 */
*+html body {
	font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic';
	font-size: 75%;
}

/* for IE6 */
* html body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic';
	font-size: 75%;
}
table {
	font-size: inherit;
	font: 100%;
}
pre, code, kbd, samp, tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 99%;
}
html>/**/body {
	font-size/*\**/: small\9;
}

/*
renders 10px font-size: 77%
renders 11px font-size: 85%
renders 12px font-size: 93%
renders 13px font-size: 100%
renders 14px font-size: 108%
renders 15px font-size: 116%
renders 16px font-size: 123.1%
renders 17px font-size: 131%
renders 18px font-size: 138.5%
renders 19px font-size: 146.5%
renders 20px font-size: 153.9%
renders 21px font-size: 161.6%
renders 22px font-size: 167%
renders 23px font-size: 174%
renders 24px font-size: 182%
renders 25px font-size: 189%
renders 26px font-size: 197%
*/



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

